.card-list {
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}

.card-buttons {
    color: grey;
    background-color: grey;
}

.black-arrow {
    color: white;
    background-color: white;
}
