.card {
    padding: 20px;
    border: 1px solid black;
    background-color: grey;
    color: plum;


}

.card img {
    width: 200px;
    height: 300px;
}

.card-buttons {
    display: flex;
    gap: 10px;
    color: plum;
    background-color: black;
}

.card-buttons button {
    background-color: black;
    color: plum;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;

  }

  .card-buttons button:hover {
    background-color: #333;
  }
