.board {
    border: 1px solid black;
    color: plum;
    background-color: grey;
    padding: 10px;
    border-radius: 5px;

}

.board img {
    width: 250px;
    height: 300px;
}

.delete-and-view-buttons {
    display: flex;
    gap: 10px;
}

.delete-button {
    background-color: black;
    color: plum;
}

.view-button {
    background-color: black;
    color: plum;
}
