.board {
    border: 1px solid blue;
    padding: 10px;
    border-radius: 5px;
}

.board img {
    width: 200px;
    height: 300px;
}

.delete-and-view-buttons {
    display: flex;
    gap: 10px;
}

.delete-button {
    background-color: plum;
    color: white;
}

.view-button {
    background-color: plum;
    color: white;
}
